.header {
  height: 120px;
  width: 100%;
  padding-top: 50px;
}
/* .btn-primary {
  right: 30px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  margin-top: -20px;
  border: none;
} */
